/* z-index property */
/* The z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. */

/* Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky). */

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  /* other example 

  <html>
<head>
<style>
.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3;
  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2;
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
</style>
</head>
<body>

<div class="container">
  <div class="black-box">Black box</div>
  <div class="gray-box">Gray box</div>
  <div class="green-box">Green box</div>
</div>

</body>
</html>

*/