/* CSS Attribute Selectors
Style HTML Elements With Specific Attributes
It is possible to style HTML elements that have specific attributes or attribute values.

CSS [attribute] Selector
The [attribute] selector is used to select elements with a specified attribute.
*/

/* Example */
a[target] {
  background-color: yellow;
}

/* CSS [attribute=value] Selector */
a[target="_blank"] {
  background-color: yellow;
}

/* CSS [attribute~="value"] Selector */
[title~="flower"] {
  border: 5px solid yellow;
}

/* CSS [attribute^="value"] Selector */
[class^="top"] {
  background: yellow;
}

/* CSS [attribute$="value"] Selector */
[class$="test"] {
  background: yellow;
}

/* CSS [attribute*="value"] Selector */
[class*="te"] {
  background: yellow;
}

/* Styling Forms */
input[type="text"] {
  width: 150px;
  display: block;
  margin-bottom: 10px;
  background-color: yellow;
}

input[type="button"] {
  width: 120px;
  margin-left: 35px;
  display: block;
}